body {
    font-family: Arial, sans-serif;
    background-color: #ddc7e0;
    color: #333;
    margin: 20px;
}

h2 {
    color: #524356;
}

audio {
    margin-bottom: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.container > div {
    background-color: #fff; 
    padding: 15px;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #7d3cf8; /* Purple border */
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    margin-right: 5px;
    position: relative;
}

/* Radio button checked style */
input[type="radio"]:checked::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #7d3cf8; /* Purple fill */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styling for the "Play" button */
audio::-webkit-media-controls-start-playback-button {
    display: none;
}

audio::-webkit-media-controls-play-button {
    display: none;
}

audio {
    width: 100%;
}
